#acf-gradient-repeater-wrapper preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33vh;
    border: 1px solid #E1E1E1;
}

#acf-gradient-repeater-wrapper preview > title {
    display: inline-block;
    margin: 0 auto;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}